@import "colors";

nav {
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  box-shadow: none !important;
  background-color: white;

  > div {
    display: flex;
    align-items: center;

    >.btn-group .btn-primary {
      background-color: $red !important;
    }

    > svg {
      color: $red;
      font-size: 3rem;
    }

    > a {
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;

      &:hover {
        color: $lightdark;
      }

      > svg {
        color: $red;
        transition: inherit;
        font-size: 1.5rem;
        &:hover {
          color: $lightdark;
        }
      }
    }
  }
  .cart-item-count {
    position: absolute;
    top: 1.3rem;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: $red;
    width: 16px;
    height: 16px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
}


@media screen and (max-width: 600px) {
  nav {
    padding: 1rem;
    > div > a {
      margin: 0 0.5rem;
    }
  }
}
