.btn-primary {
    background-color: #9d003c !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(156 0 60 / 20%) !important; 
    color: rgb(156, 0, 60) !important;
}